# Python
*.pyc
*.pyo
__pycache__/
*.pkl
*.h5

# Environments
.env
.venv/
venv/

# Editor folders
.idea/
.vscode/

# Uploads and temporary files
/uploads
uploads/

# Node (if accidentally added)
node_modules/

# OS/system files
.DS_Store
Thumbs.db

# Docker artifacts
*.log
